<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <!-- Navigation Bar -->
    <nav></nav>

    <div id="main-section">
        <!-- Room Selection -->
        <nav id="sidebar">
            <h4>Rooms</h4>
            {% for room in rooms %}
                <p class="select-room">{{ room|title }}</p>
            {% endfor %}
        </nav>

        <!-- Message Area -->
        <div id="rightside-pannel">
            <!-- Display Message -->
            <div id="display-message-section">

            </div>
            <!-- input message -->
            <div id="input-area">
                <input type="text" id="user_message"
                       placeholder="Type here..." autocomplete="off">
                <button type="button" id="send_message">Send</button>
            </div>

        </div>
    </div>

    <!-- Get Username -->
    <script type="text/javascript">
        const username = `{{ username }}`
    </script>

    <!-- Custom JS file -->
    <script src="{{ url_for('static', filename='scripts/chat_page.js') }}"></script>

    <!-- SocketIO JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
            crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

</body>
</html>